{% extends "!page.html" %}

{% block body %}
{% if current_version and latest_version and current_version != latest_version %}
 
<p>
  <strong>
    {% if current_version.is_released %}
    <div class="admonition warning">
      <p class="admonition-title">Warning</p>
      <p> You're reading an old version ({{current_version.name}}) of this documentation.
      If you want up-to-date information, please have a look at <a href="{{
      vpathto(latest_version.name) }}">{{latest_version.name}}</a>.
      </p>
      </div>
    {% else %}
    <div class="admonition warning">
      <p class="admonition-title">Warning</p>
      <p> You're reading the documentation for a development version.
        For the latest released version, please have a look at <a href="{{ vpathto(latest_version.name) }}">{{latest_version.name}}</a>.
      </p>
      </div>
    {% endif %}
  </strong>
</p>


{% endif %}
{{ super() }}
{% endblock %}%
